<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Disease.io Data Center</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!--Load the AJAX API-->

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../js/xepOnline.jqPlugin.js"></script>


    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script type="text/javascript">
     <!-- This adds the proper namespace on the generated SVG -->
      function AddNamespace(){
        var svg = jQuery('#chart_div svg');
        svg.attr("xmlns", "http://www.w3.org/2000/svg");
        svg.css('overflow','visible');
      }
      // Load the Visualization API and the hart package.
      google.charts.load('current', {'packages':['corechart']});
      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawRiskChart);


    
  
      function drawRiskChart() {
        
      // Create our data table out of JSON data loaded from server.
      var jsonData = $.ajax({
          url: "json/mapGraph.json",
          dataType: "json",
          async: false
          }).responseText;
      
       /*var data = google.visualization.arrayToDataTable([
          ['Percent Chance of Sickness', ''],
          ['5%',  1000],
          ['10%',  1170],
          ['15%',  660],
          ['20%',  1030]
        ]);
        
        var jsonData = $.getJSON("json/riskData.json", function(json) {
            console.log(json); // this will show the info it in firebug console
        });  
        */
        var data = new google.visualization.DataTable(jsonData);

        /*var options = {
          title: 'Risk vs Reward',
          curveType: 'function',
          vAxis: {
           title: 'Number of Resources Gathered',
           titleTextStyle: {
            color: '#FF0000'
             }
          },
          hAxis: {
           title: 'Percent Chance of Infection',
           titleTextStyle: {
            color: '#FF0000'
             }
          },
          legend: { position: 'bottom' }
        };*/
        var options = {
          title: 'Safe vs Risk',
          width: 600,
          height: 400,
          bar: {groupWidth: "95%"},
          legend: { position: "none" },
        }
        
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        google.visualization.events.addListener(chart, 'ready', AddNamespace);
        chart.draw(data, options);        
        //drawToolbar();

        <!-- @cloudformatter calls to render the SVG -->
    
        <!-- Convert the SVG to PDF and download it -->
        var click="return xepOnline.Formatter.Format('JSFiddle', {render:'download', srctype:'svg'})";
        jQuery('#buttons').append('<button onclick="'+ click +'">PDF</button>');
        <!-- Convert the SVG to PNG@120dpi and open it -->
        click="return xepOnline.Formatter.Format('JSFiddle', {render:'newwin', mimeType:'image/png', resolution:'120', srctype:'svg'})";
        jQuery('#buttons').append('<button onclick="'+ click +'">PNG @120dpi</button>');
        <!-- Convert the SVG to JPG@300dpi and open it -->
        click="return xepOnline.Formatter.Format('JSFiddle', {render:'newwin', mimeType:'image/jpg', resolution:'300', srctype:'svg'})";
        jQuery('#buttons').append('<button onclick="'+ click +'">JPG @300dpi</button>');

      }
      function drawTrustChart() {
        var data = google.visualization.arrayToDataTable([
          ['Percent Chance of Sickness', ''],
          ['5%',  78],
          ['10%',  56],
          ['15%',  34],
          ['20%',  12]]);


        var options = {
          title: 'Trust',
          curveType: 'function',
                    vAxis: {
          title: 'Percent of People who Team Up',
           titleTextStyle: {
            color: '#FF0000'
             }
          },
          hAxis: {
           title: 'Percent Chance of Infection',
           titleTextStyle: {
            color: '#FF0000'
             }
          },
          legend: { position: 'bottom' }
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        drawToolbar();

      }
      function drawMoralityChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Title');
        data.addColumn('number', 'Percent sick');
        data.addRows([
          ['Percent Sick and Alone', 3],
          ['Percent Sick and on Team', 1]
        ]);

        // Set chart options
        var options = {'title':'Morality',
                       'width':400,
                       'height':300
                     };
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        drawToolbar();


      }
    </script>
</head>

<body onload="document.getElementById('PageContent').innerHTML=document.getElementById('RiskContent').innerHTML;">

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="/index">Home</a>
                </li>
                <li>
                    <a href="/scientist" id="Risk" onclick="document.getElementById('PageContent').innerHTML=document.getElementById('RiskContent').innerHTML;">Risk Graph</a>
                </li>
                <li>
                    <a href="/scientist" id="Trust" onclick="document.getElementById('PageContent').innerHTML=document.getElementById('TrustContent').innerHTML;">Trust Graph</a>
                </li>
                <li>
                    <a href="/scientist" id="Morality" onclick="document.getElementById('PageContent').innerHTML=document.getElementById('MoralityContent').innerHTML;">Morality Graph</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    <h1>Disease.io Data Center</h1>
                    <div class="col-lg-12">
                          <div id="PageContent"> </div>

                          <div id="JSFiddle">
                              <div id="chart_div" style="width: 1100px; height: 500px;"></div>
                          </div>
                          <div id="buttons" class="buttons"></div>
                          <hr/>
                          <div id="help">
                              <a href="#help" class="btn btn-default" id="help">Help</a>
                          </div>
                          <div id="RiskContent" style="visibility:hidden;">
                          {{#if riskGraph}}
                          <h2>{{riskGraph.riskTitle}}</h2>
                            <p>{{riskGraph.riskDescription}}</p>
                           </div>
                           {{/if}}
                            <div id="TrustContent" style="visibility:hidden;">
                            {{#if trustGraph}}
                          <h2>{{trustGraph.trustTitle}}</h2>
                            <p>{{trustGraph.trustDescription}}</p>
                           </div>
                           {{/if}}
                            </div>
                            <div id="MoralityContent" style="visibility:hidden;">
                           {{#if moralityGraph}}
                          <h2>{{moralityGraph.moralityTitle}}</h2>
                            <p>{{moralityGraph.moralityDescription}}</p>
                           </div>
                           {{/if}}
                            </div>
                        </div>
                </div>
            </div>
        </div>
        

        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
   
    <script>
    $("#help").click(function(e) {
         e.preventDefault();
         alert("You are doomed, there is no help as of yet."); 
         //TODO make help do something.
    });
    </script>
    <script>
      $("#Risk").click(function(e) {
        e.preventDefault();
        google.charts.setOnLoadCallback(drawRiskChart);
        //drawRiskChart();
    });
    $("#Trust").click(function(e) {
        e.preventDefault();
        google.charts.setOnLoadCallback(drawTrustChart);
        //drawTrustChart();
    });
    $("#Morality").click(function(e) {
        e.preventDefault();
        google.charts.setOnLoadCallback(drawMoralityChart);
        //drawMoralityChart();
    });
    </script>
</body>

</html>
